.footer {
  font-family: "Open Sans";
  background-color: #222222;
}
.footer__list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__social {
  display: flex;
  justify-content: flex-end;
}
.footer__text {
  font-size: 12px;
  color: #b2b2b2;
  line-height: 4.5;
  text-transform: uppercase;
}
.footer__network {
  padding-left: 0px;
}
@media (max-width: 768px) {
  .footer__list {
    padding-left: 5%;
  }
  .footer__social {
    display: flex;
    justify-content: flex-start;
  }
  .footer__text {
    display: flex;
    justify-content: flex-start;
  }
}
